body {
  background-image: url('images/backgroundimg.jpg');
  background-color: #cccccc;
}

/*Past alle H1's aan met decoratie en veranderde font*/
h1 {
  font-family: fantasy;
  font-size: 25px;
  color: #ffffff;
}

h2 {
  font-family: fantasy;
  font-size: 25px;
  color: #ffffff;
}

h3 {
  font-family: fantasy;
  font-size: 25px;
  color: #ffffff;
}
/*zorgt ervoor dat de image aan de linker kant van de webbage zal staan*/
img {
float: right;
}

p {
  color: #ffffff;
  font-size: 20px;
}
.links {
font-family: fantasy;
font-style: italic;
font-size: 20px;
color: #ffffff;
}
